<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <center><title>Peace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>
  <body>
    <h1>Peace</h1>
 Practice and improve your speech with us!


    <div id="controls">
    <a href=# id=recordButton><button onclick="pressStart()">Record</button></a>
     <button id="stopButton" onclick="pressStop()">Stop</button>

     <!-- <form action="/stop" method='POST'>
      <button name="stopButton" onclick="pressStop()" type="submit">Stop</button>
    </form> -->
     <form action="/process" method='POST'>
      <button name="processButton" type="submit">Process</button>
    </form>
     <!-- <a href=# id=processButton><button onclick="location.href='http://127.0.0.1:5000/process';">Process</button></a> -->
    </div>
    <br>
    <div> <h4 id="instructions">Click start to start recording.</h4></div>
    <br>
    <div><h4 id="recordBanner"></h4></div>

 <script>
  function pressStart() {
    document.getElementById("recordBanner").innerHTML = "Recording!";
  };
  function pressStop() {
    document.getElementById("recordBanner").innerHTML = "Recorded!";
    document.getElementById("instructions").innerHTML = "Click process to analyze speech!";
  }
</script>


  </div>
</div>

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  	<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  	<script src="static/js/app.js"></script>

  </body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- 
<script type=text/javascript>
  $(function() {
    $('a#processButton').bind('click', function() {
      $.getJSON('/process',
          function(data) {
              //do nothing
      });
      return false;
    });
  });
</script> -->

</script>
